@import './reboot';

:root{
  --nav: #334868;
  --not: #457B9C;
  --title: #F1F5F9;
  --body: #D9DFE7;
  --t: #84A2B5;
}

body{
  height: 100vh;
}

.grid{
  display: grid;

  &-main{
    height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    > nav { grid-area: 1 / 1 / 3 / 2; }
    > header { grid-area: 1 / 2 / 2 / 3; }
    > section { grid-area: 2 / 2 / 3 / 3; }

    > nav{
      background-color: var(--nav);
      color: white;
    }

    > header{
      background-color: var(--title);
    }

    > section{
      background-color: var(--body);
      overflow: auto;
    }
  }
  
  &-2{ 
    grid-template-columns: repeat(2, 1fr);
  }
  &-4{ 
    grid-template-columns: repeat(4, 1fr);   
  }
  &-3{ 
    grid-template-columns: repeat(3, 1fr);   
  }
  &-5{ 
    grid-template-columns: repeat(5, 1fr);   
  }
}