<main class="grid grid-main" [ngClass]="{'nav-open': isOpenMenu}">

  <nav class="nav">
    <ul class="nav-main">
      <li class="logo">
        <a href="#" [routerLink]="['/']"><span class="icon-space-shuttle"></span></a>
      </li>
      <li>
        <a href="#" [routerLink]="['/']" routerLinkActive="active" title="Home">
          <span class="icon-home"></span>
          <span class="nav-main-text">Home</span>
        </a>
      </li>
      <li>
        <a href="#" [routerLink]="['/transfers']" routerLinkActive="active" title="Tranfers">
          <span class="icon-exchange"></span>
          <span class="nav-main-text">Transfers</span>
        </a>
      </li>
      <li>
        <a href="#" title="Cards" [routerLink]="['/cards']" routerLinkActive="active">
          <span class="icon-credit-card"></span>
          <span class="nav-main-text">Cards</span>
        </a>
      </li>
      <li>
        <a href="#" [routerLink]="['/graphics']" routerLinkActive="active" title="Graphics">
          <span class="icon-bar-chart"></span>
          <span class="nav-main-text">Graphics</span>
        </a>
      </li>
      <li>
        <a href="#" [routerLink]="['/deals']" routerLinkActive="active" title="Deals">
          <span class="icon-handshake-o"></span>
          <span class="nav-main-text">Deals</span>
        </a>
      </li>
    </ul>

    <ul class="nav-settings">
      <li>
        <a href="#" [routerLink]="['/settings']" routerLinkActive="active" title="settings">
          <span class="icon-cog"></span>
          <span class="nav-main-text">Settings</span>
        </a>
      </li>
    </ul>
  </nav>

  <header class="header">
    <div class="header-top">
      <a href="#" (click)="nav()">
        <span class="icon-bars" [ngClass]="{'icon-close': isOpenMenu, 'icon-bars': !isOpenMenu}"></span>
      </a>
  
      <ul>
        <li>
          <a href="#" [routerLink]="['/messages']" routerLinkActive="active" title="Messages"><span class="icon-announcement"></span></a>
        </li>
        <li>
          <a href="#" [routerLink]="['/bookmarks']" routerLinkActive="active" title="Bookmarks"><span class="icon-bookmark"></span></a>
        </li>
        <li>
          <a href="#" [routerLink]="['/notifications']" routerLinkActive="active" title="Notifications" class="notifications" data="3">
            <span class="icon-bell"></span>
          </a>
        </li>
        <li>
          <a href="#" [routerLink]="['/profile']" routerLinkActive="active" title="Profile"><span class="icon-user-circle"></span></a>
        </li>
      </ul>
    </div>

    <div class="notification">
  
      <div>
        <h2>Welcome back, John Smith!</h2>
        <p><span class="icon-bell"></span> You have <b>9</b> open and <b>3</b> overdue Invoices</p>
      </div>
  
      <div class="form">
        <form action="#" class="form-group">
          <button type="submit"><span class="icon-search"></span></button>
          <input type="search" name="s" placeholder="Search invoice, card, Merchant" id="" required>
        </form>
      </div>
  
    </div>
  </header>


  <section class="content">

    <router-outlet></router-outlet>

  </section>
</main>