<main class="grid grid-main" [ngClass]="{'nav-open': isOpenMenu}">

  <nav class="nav">
    <ul class="nav-main">
      <li class="logo">
        <a href="#"><span class="icon-space-shuttle"></span></a>
      </li>
      <li>
        <a href="#"><span class="icon-home"></span></a>
      </li>
      <li>
        <a href="#"><span class="icon-exchange"></span></a>
      </li>
      <li>
        <a href="#"><span class="icon-credit-card"></span></a>
      </li>
      <li>
        <a href="#"><span class="icon-bar-chart"></span></a>
      </li>
      <li>
        <a href="#"><span class="icon-handshake-o"></span></a>
      </li>
    </ul>

    <ul class="nav-settings">
      <li>
        <a href="#"><span class="icon-cog"></span></a>
      </li>
    </ul>
  </nav>

  <header class="header">
    <div class="header-top">
      <a href="#" (click)="nav()">
        <span class="icon-bars" [ngClass]="{'icon-close': isOpenMenu, 'icon-bars': !isOpenMenu}"></span>
      </a>
  
      <ul>
        <li>
          <a href="#"><span class="icon-announcement"></span></a>
        </li>
        <li>
          <a href="#"><span class="icon-bookmark"></span></a>
        </li>
        <li>
          <a href="#"><span class="icon-bell"></span></a>
        </li>
        <li>
          <a href="#"><span class="icon-user-circle"></span></a>
        </li>
      </ul>
    </div>

    <div class="notification">
  
      <div>
        <h2>Welcome back, John Smith!</h2>
        <p><span class="icon-bell"></span> You have <b>9</b> open and <b>3</b> overdue Invoices</p>
      </div>
  
      <div class="form">
        <form action="#" class="form-group">
          <button type="submit"><span class="icon-search"></span></button>
          <input type="search" name="s" placeholder="Search invoice, card, Merchant" id="" required>
        </form>
      </div>
  
    </div>
  </header>


  <section class="content">

    <div class="content-title">
      <h1>New Card</h1>
    </div>

    <div class="content-body">

      <div class="panel">

        <h3 class="panel-title">Account Details</h3>

        <div class="grid grid-2">

          <div>
            <div class="panel-inputs grid grid-panel-inputs">
  
              <form action="#" class="form-group">
                <input type="search" name="s" placeholder="Select DoDAAC*" id="" required>
                <button type="submit"><span class="icon-search"></span></button>
              </form>

              <input type="text" name="" placeholder="TEC*" id="">
  
            </div>
            
            <div class="panel-inputs grid grid-panel-inputs">
  
              <form action="#" class="form-group">
                <input type="text" name="fund_code" placeholder="Fund Code*" id="" required>
              </form>

              <input type="text" name="" placeholder="MDS*" id="">
  
            </div>
  
            <div class="panel-inputs grid grid-panel-inputs">
  
              <form action="#" class="form-group">
                <select name="dodaac" id="" required>
                  <option value="">Select DoDAAC</option>
                  <option value="option1">option1</option>
                  <option value="option2">option2</option>
                  <option value="option3">option3</option>
                </select>
              </form>

              <input type="text" name="" placeholder="ORG or APC*" id="">
  
            </div>
  
            <div class="panel-inputs grid grid-panel-inputs">
  
              <form action="#" class="form-group">
                <input type="text" name="fund_code" placeholder="Supplemental ACC*" id="" required>
              </form>

              <input type="text" name="" placeholder="Sub Account Code*" id="">
  
            </div>
            
          </div>


          <div class="grid">

            <div class="panel-text">
              <h3><label for="ship">Ship to: </label></h3>

              <p>[Unit Name]</p>
              <p>Attn: [User Title], [User First Name], [User Last Name]</p>
              <p>[Address 1]</p>
              <p>[Address 2]</p>
              <p>[City], [State], [Postal Code], [Country]</p>
              <br>
              <p>Phone: [Phone Number]</p>
              <p>Email: [Email]</p>
            </div>
            
            <form action="#" class="form-group form-group-block">
              <select name="dodaac" id="" required>
                <option value="">Select Shipping Method*</option>
                <option value="option1">option1</option>
                <option value="option2">option2</option>
                <option value="option3">option3</option>
              </select>
            </form>
          </div>


        </div>

      </div>
      
      <div class="panel">

        <h3 class="panel-title">Required Approvals</h3>

        <div class="grid grid-2">
          <br><br>
        </div>

      </div>

      <div class="panel">

        <h3 class="panel-title">Card information</h3>

        <div class="grid grid-2">

          <div>
            <div class="panel-inputs grid grid-panel-inputs">
  
              <form action="#" class="form-group">
                <select name="dodaac" id="" required>
                  <option value="">Card Type*</option>
                  <option value="option1">option1</option>
                  <option value="option2">option2</option>
                  <option value="option3">option3</option>
                </select>
  
                <button type="submit"></button>
              </form>

              <input type="text" name="" placeholder="Tail or Truck#*" id="">
  
            </div>
            
          </div>


          <div>
            <div class="panel-inputs grid grid-panel-inputs">
  
              <form action="#" class="form-group">
                <input type="text" name="fund_code" placeholder="Make/Model" id="" required>
              </form>

              <input type="text" name="" placeholder="Notes/Comments*" id="">
  
            </div>
            
          </div>


        </div>

      </div>

    </div>

  </section>
</main>