<div class="content-title">
  <h1>New Card</h1>
</div>

<div class="content-body">

  <div class="panel">

    <h3 class="panel-title">Account Details</h3>

    <div class="grid grid-2">

      <div>
        <div class="panel-inputs grid grid-panel-inputs">

          <form action="#" class="form-group">
            <input type="search" name="s" placeholder="Select DoDAAC*" id="" required>
            <button type="submit"><span class="icon-search"></span></button>
          </form>

          <input type="text" name="" placeholder="TEC*" id="">

        </div>
        
        <div class="panel-inputs grid grid-panel-inputs">

          <form action="#" class="form-group">
            <input type="text" name="fund_code" placeholder="Fund Code*" id="" required>
          </form>

          <input type="text" name="" placeholder="MDS*" id="">

        </div>

        <div class="panel-inputs grid grid-panel-inputs">

          <form action="#" class="form-group">
            <select name="dodaac" id="" required>
              <option value="">Select DoDAAC</option>
              <option value="option1">option1</option>
              <option value="option2">option2</option>
              <option value="option3">option3</option>
            </select>
          </form>

          <input type="text" name="" placeholder="ORG or APC*" id="">

        </div>

        <div class="panel-inputs grid grid-panel-inputs">

          <form action="#" class="form-group">
            <input type="text" name="fund_code" placeholder="Supplemental ACC*" id="" required>
          </form>

          <input type="text" name="" placeholder="Sub Account Code*" id="">

        </div>
        
      </div>


      <div class="grid">

        <div class="panel-text">
          <h3><label for="ship">Ship to: </label></h3>

          <p>[Unit Name]</p>
          <p>Attn: [User Title], [User First Name], [User Last Name]</p>
          <p>[Address 1]</p>
          <p>[Address 2]</p>
          <p>[City], [State], [Postal Code], [Country]</p>
          <br>
          <p>Phone: [Phone Number]</p>
          <p>Email: [Email]</p>
        </div>
        
        <form action="#" class="form-group form-group-block">
          <select name="dodaac" id="" required>
            <option value="">Select Shipping Method*</option>
            <option value="option1">option1</option>
            <option value="option2">option2</option>
            <option value="option3">option3</option>
          </select>
        </form>
      </div>


    </div>

  </div>
  
  <div class="panel">

    <h3 class="panel-title">Required Approvals</h3>

    <div class="grid grid-2">
      <br><br>
    </div>

  </div>

  <div class="panel">

    <h3 class="panel-title">Card information</h3>

    <form action="#">
      <div class="grid grid-2 cg-2">

        <div>
          <div class="panel-inputs grid grid-panel-inputs">

            <div action="#" class="form-group">
              <select name="dodaac" id="" required>
                <option value="">Card Type*</option>
                <option value="option1">option1</option>
                <option value="option2">option2</option>
                <option value="option3">option3</option>
              </select>
            </div>

            <input type="text" name="" placeholder="Tail or Truck#*" id="" required>

          </div>
          
        </div>


        <div>
          <div class="panel-inputs grid grid-panel-inputs">

            <div action="#" class="form-group">
              <input type="text" name="fund_code" placeholder="Make/Model" id="" required>
            </div>

            <input type="text" name="" placeholder="Notes/Comments*" id="" required>

          </div>
          
        </div>


      </div>

      <div class="grid grid-5">
        <button type="submit" class="panel-btn">ADD ANOTHER CARD</button>
      </div>
    </form>

  </div>

</div>